## Segmenting and Clustering Neighborhoods in Toronto (PART I)

For this assignment, we will be required to explore and cluster the neighborhoods in Toronto.
Let's import the requiered liabraries

In [70]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

We start building the code by scraping the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe wihch is the one shown below:

In [71]:
path='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(path)

In [72]:
type(df[0])

pandas.core.frame.DataFrame

In [73]:
new_data=df[0]

The first five rows are:

In [74]:
new_data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The dataframe is consisted of three columns: PostalCode, Borough, and Neighborhood
Only process the cells that have an assigned borough. We ignore cells with a borough that is Not assigned.

In [75]:
toronto_data = new_data[new_data['Borough'] !='Not assigned']
toronto_data.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [76]:
toronto_data.set_index(['Postal Code','Borough'] , inplace = True)

In [77]:
toronto_data.head()

                                                            Neighbourhood
Postal Code Borough
M3A         North York                                          Parkwoods
M4A         North York                                   Victoria Village
M5A         Downtown Toronto                    Regent Park, Harbourfront
M6A         North York                   Lawrence Manor, Lawrence Heights
M7A         Downtown Toronto  Queen's Park, Ontario Provincial Government

More than one neighborhood can exist in one postal code area.  These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [78]:
toronto = toronto_data.groupby(level=['Postal Code' , 'Borough']).agg(','.join)
toronto.shape

(103, 1)

In [79]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
toronto[toronto['Neighbourhood'] == "Not assigned"]['Neighbourhood']

Series([], Name: Neighbourhood, dtype: object)

In [80]:
toronto.rename(columns = {'Postal Code':"PostalCode",'Neighbourhood':"Neighborhood"} , inplace = True)

In [81]:
final_data = toronto.reset_index()
final_data.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [82]:
final_data.shape

(103, 3)